.greeting {
    background: #2F2F2F;
    position: relative;
}

.greetings-bacground-decor {
    position: absolute;
    position: fixed;
    right: 0px;
    z-index: 0;
}

.gretings-bacgorund-sale {
    position: absolute;
    left: 400px;
    bottom: 0px;
}

.greeting-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting-wrap-content__suptitle {
    max-width: 250px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: #F59B00;
    padding-bottom: 20px;
}

.greeting-wrap-content__title {
    max-width: 410px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 61px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 25px;
}

.greeting-wrap-content__subtitle {
    max-width: 435px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: gray;
    padding-bottom: 35px;
}

.greeting-wrap-content__btn {
    background: #F59B00;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 15px;
}

.greeting-wrap-content__btn-link {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.greeting-wrap-photo__img {
    height: 500px;
}

@media (max-width: 1200px) {
    .greeting-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1200px) {
    .greeting-wrap {
        flex-direction: column;
    }

    .gretings-bacgorund-sale {
        display: none;
    }

    .greetings-bacground-decor {
        display: none;
    }
}

@media (max-width: 670px) {
    .greeting-wrap-content__suptitle {
        font-size: 18px;
    }

    .greeting-wrap-content__title {
        font-size: 54px;
    }

    .greeting-wrap-photo__img {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .greeting-wrap-content__suptitle {
        font-size: 12px;
    }

    .greeting-wrap-content__title {
        font-size: 34px;
    }

    .greeting-wrap-content__subtitle {
        font-size: 10px;
    }

    .greeting-wrap-content__btn {
        padding: 10px 25px 10px 25px;
    }

    .greeting-wrap-content__btn-link {
        font-size: 12px;
    }
}