.product-wrap {
    margin-top: 150px;
    margin-bottom: 140px;
}

.product-wrap-head {
    text-align: center;
}

.product-wrap-head__title {
    margin: auto;
    max-width: 350px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 31px;
    color: #2F2F2F;
    padding-bottom: 25px;
}

.product-wrap-head__subtitle {
    margin: auto;
    max-width: 510px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-bottom: 60px;
}

.product-wrap-card {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.product-wrap-card-item {
    text-align: center;
}

.product-wrap-card-item:nth-child(1) {
    background: #FFE1E8;
    border: 2px solid #FDEEF1;
    border-radius: 10px;
}

.product-wrap-card-item:nth-child(2) {
    background: #FFE1E8;
    border: 2px solid #FFE1E8;
    border-radius: 10px;
}

.product-wrap-card-item:nth-child(3) {
    background: #F9DCFF;
    border: 2px solid #F9DCFF;
    border-radius: 10px;
}

.product-wrap-card-item:nth-child(4) {
    background: #FFDEE7;
    border: 2px solid #FFDEE7;
    border-radius: 10px;
}

.product-wrap-card-item:nth-child(5) {
    background: #ECF1FF;
    border-radius: 10px;
}

.product-wrap-card-item:nth-child(6) {
    background: #FADADE;
    border: 2px solid #FADADE;
    border-radius: 10px;
}

.product-wrap-card-item:nth-child(7) {
    background: #D9E6FE;
    border: 2px solid #D9E6FE;
    border-radius: 10px;
}

.product-wrap-card-item:nth-child(8) {
    background: #EBF4BF;
    border: 2px solid #EBF4BF;
    border-radius: 10px;
}

.product-wrap-footer {
    margin-top: 90px;
    text-align: center;
}

.product-wrap__btn {
    padding: 15px 30px 15px 30px;
    text-align: center;
    background: none;
    border: 1px dashed #F59B00;
    border-radius: 5px;
}

.product-wrap__btn-link {
    background: url('/img/product-arrow-right.png') right no-repeat;
    padding-right: 50px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #F59B00;
}

@media (max-width: 1240px) {
    .product-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }

    .product-wrap-card {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 980px) {
    .product-wrap-card {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 685px) {
    .product-wrap-card {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .product-wrap-head__title {
        font-size: 24px;
    }

    .product-wrap-head__subtitle {
        font-size: 10px;
    }

    .product-wrap__btn {
        padding: 10px 25px 10px 25px;
    }

    .product-wrap__btn-link {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    .product-wrap-card-item__img {
        width: 100%;
    }
}